<body>
    <html>
    <table style="width: 600px; height: 300px; margin:auto;">
    
        <td style="border: 1px solid blueviolet; font-weight: bold;">Account_name</td>
        <td style="border: 1px solid blueviolet; font-weight: bold;">Account_number</td>
        <td style="border: 1px solid blueviolet; font-weight: bold;">Balance</td>
    </th>
    <tr>{% for account in accounts %}</tr>
    
        <td style="border: 1px solid blueviolet;">{{ account.account_name }}</td>
        <td style="border: 1px solid blueviolet;">{{ account.account_number }}</td>
        <td style="border: 1px solid blueviolet;">{{ account.balance }}</td>
    {% endfor %}
</table>
</body>
</html>