<body>
    <html><table>
    <th>
        <td style="border: 1px solid blueviolet;">Cardholder_name</td>
        <td style="border: 1px solid blueviolet;">Expiry_date</td>
        <td style="border: 1px solid blueviolet;">Date_issued</td>
    </th>
    <tr>{% for card in cards %}</tr>
    
        <td style="border: 1px solid blueviolet;">{{ card.cardholder_name }}</td>
        <td style="border: 1px solid blueviolet;">{{ card.expiry_date }}</td>
        <td style="border: 1px solid blueviolet;">{{ card.date_issued }}</td>
    {% endfor %}
</table>

</body>
</html>