<body>
    <html>
        <table style="width: 800px; height: 500px; margin:auto;">
    
        <td style="border: 1px solid blueviolet; font-weight: bold;">Name</td>
        <td style="border: 1px solid blueviolet; font-weight: bold;">Message</td>
        <td style="border: 1px solid blueviolet; font-weight: bold;">dateandTime</td>
    </th>
    <tr>{% for notification in notifications %}</tr>
    
        <td style="border: 1px solid blueviolet;">{{notification.name}}</td>
        <td style="border: 1px solid blueviolet;">{{notification.message}}</td>
        <td style="border: 1px solid blueviolet;">{{notification.dateandTime}}</td>
    {% endfor %}
</table>

</body>
</html>