<body>
    <html>
        <table style="width: 600px; height: 300px; margin:auto;" >
    
        <td style="border: 1px solid blueviolet; font-weight: bold;">First_name</td>
        <td style="border: 1px solid blueviolet; font-weight: bold;">Amount</td>
        <td style="border: 1px solid blueviolet; font-weight: bold;">DateTime</td>
    </th>
    <tr>{% for receipt in receipts %}</tr>
    
        <td style="border: 1px solid blueviolet;">{{ receipt.first_name }}</td>
        <td style="border: 1px solid blueviolet;">{{ receipt.amount }}</td>
        <td style="border: 1px solid blueviolet;">{{ receipt.datetime }}</td>
    {% endfor %}
</table>

</body>
</html>