<body>
    <html>
        <table style="width: 600px; height: 300px; margin:auto;">
    
        <td style="border: 1px solid blueviolet; font-weight: bold;">Recipient</td>
        <td style="border: 1px solid blueviolet; font-weight: bold;">Wallet</td>
        <td style="border: 1px solid blueviolet; font-weight: bold;">Points</td>
       
    </th>
    <tr>{% for reward in rewards %}</tr>
   
        <td style="border: 1px solid blueviolet;">{{ reward.recipient }}</td>
        <td style="border: 1px solid blueviolet;">{{ reward.wallet }}</td>
        <td style="border: 1px solid blueviolet;">{{ reward.points }}</td>
    {% endfor %}
 </table>
  
 </body>
 </html>