<body>
    <html>
        <table style="width: 600px; height: 300px; margin:auto;">
    
        <td style="border: 1px solid blueviolet; font-weight: bold;">Customer</td>
        <td style="border: 1px solid blueviolet; font-weight: bold;">Balance</td>
        <td style="border: 1px solid blueviolet; font-weight: bold;">Date_created</td>
       
    </th>
    <tr>{% for wallet in wallets %}</tr>
   
        <td style="border: 1px solid blueviolet;">{{ wallet.customer }}</td>
        <td style="border: 1px solid blueviolet;">{{ wallet.balance }}</td>
        <td style="border: 1px solid blueviolet;">{{ wallet.date_created }}</td>
    {% endfor %}
 </table>
  
 </body>
 </html>
  
 
 