<body>
    <html><table>
    <th>
        <td style="border: 1px solid blueviolet;">Customer</td>
        <td style="border: 1px solid blueviolet;">Balance</td>
        <td style="border: 1px solid blueviolet;">Data_created</td>
       
    </th>
    <tr>{% for wallet in wallets %}</tr>
   
        <td style="border: 1px solid blueviolet;">{{ wallet.customer }}</td>
        <td style="border: 1px solid blueviolet;">{{ wallet.balance }}</td>
        <td style="border: 1px solid blueviolet;">{{ wallet.data_created }}</td>
    {% endfor %}
 </table>
  
 </body>
 </html>
  
 
 